<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGw9Oc5qQUQYQcOzcnY8SI6GdMFcAu-WY</string>
	<key>GCM_SENDER_ID</key>
	<string>723203483589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsAppApi</string>
	<key>PROJECT_ID</key>
	<string>newsapp-5c8ee</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapp-5c8ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723203483589:ios:c9010a7aa59a1786decdac</string>
</dict>
</plist>